*{
    margin: 0;
    padding: 0%;
}
.heading-section{
    display: flex;
}
.head-half-width{
    width: 50%;
    padding-left: 50px;
}
.head-half-width img{
    width: 80%;
}
.head-half-width h1{
    font-weight: 800;
    font-size:50px;
    padding-bottom: 10px;
}
.head-half-width h4{
    font-size: 20px;
    padding-bottom: 10px;
}
.head-half-width .orange{
    color: tomato;
    font-family:font-family: 'Mingzat', sans-serif;;
}
#all-button{
    background-color: orangered;
    border: 0 solid;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
}
/* body section */
.body-part{
    background-image: url(images/body.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
     height: 600px;
    /* background-repeat: no-repeat; */
}